/* Estilo do container do loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tela inteira */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o spinner fique acima de outros elementos */
  }
  
  /* Estilo do spinner */
  .spinner {
    border: 6px solid #f3f3f3; /* Cor da borda externa */
    border-top: 6px solid #20409A; /* Cor da parte animada */
    border-radius: 50%; /* Formato circular */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animação de rotação */
  }
  
  /* Animação de rotação */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }